<h2 class="text-center">Sign up</h2>
<div class="container form-container pt-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "shared/devise_messages" %>

        <div class="field form-group">
            <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", placeholder:"Fullname", class:"form-control mt-3" %>
        </div>

        <div class="field form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control mt-3" %>
        </div>

        <div class="field form-group">
            <%= f.password_field :password, autocomplete: "new-password", placeholder:"Password", class:"form-control my-3" %>
        </div>

        <div class="actions form-group">
            <%= f.submit "Sign up", class:"btn btn-light form-control" %>
        </div>
        <div class="border"></div>
        <div class="actions form-group">
            <%= f.submit "Sign in with facebook", class:"btn btn-light form-control my-3" %>
        </div>
    <% end %>

</div>
