<div class="row">
    <div class="col-3">
        <%= render "rooms/listing_sidebar" %>
    </div>
    <div class="col-9">
        <div class="card bg-light">
            <div class="card-header"></div>
            <div class="card-body">
                <table class="w-100">
                    <% @rooms.each do |room| %> 
                    <%# looping each room you own %>
                        <% room.reservations.each do |reservation| %>
                        <%# looping each reservation of each of your room %>
                        <tr class="border-bottom">
                            <td><%= reservation.start_date.strftime('%v') %></td>
                                <td class="w-30 py-2">
                                <%=link_to image_tag(reservation.room.photos.first.image.url, size:"100"), room_path(room) %>
                                </td>
                                <td class="w-50 px-3">
                                    <p class="font-weight-bold mb-1"><%= reservation.room.listing_name %></p>
                                    <%= image_tag(avatar_url(reservation.user),alt:"profile-picture", size:"25", class:"mr-2 rounded-circle") %>
                                    <%= link_to reservation.user.fullname, user_path(reservation.user), class:"text-decoration-none text-dark" %>
                                </td>
                                <td class="w-20 text-right"><%= link_to "Review Guest", "#", class:"btn btn-dark m-0" %></td>
                            </tr>
                        <% end %>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>