<h2 class="text-center">Log in</h2>
<div class="container form-container pt-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control mt-3" %>
    </div>

    <div class="field form-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class:"form-control mt-3" %>
    </div>

    <div class="d-inline-block">
        <% if devise_mapping.rememberable? %>
            <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            </div>
        <% end %>
    </div>
    <div class="float-right d-inline-block mb-4">
        <%= render "devise/shared/links" %>
    </div>

    <div class="actions">
        <%= f.submit "Log in", class:"btn btn-light form-control mb-3" %>
    </div>

    <div class="border"></div>

    <div class="actions form-group">
        <%= f.submit "Sign in with facebook", class:"btn btn-light form-control my-3" %>
    </div>
<% end %>

</div>
