<div class="row">
<div class="col-3">
    <%= render "rooms/sidebar" %>
</div>
<div class="col-9">
    <div class="card bg-light ml-4">
        <h5 class="card-header">Listing</h5>
        <%=form_for(@room) do |f|%>
            <div class="card-body row">
                <div class="form-group col-4">
                    <%= f.label :home_type, "Home Type"%> <br>
                    <%= f.select :home_type, [["Apartment"],["House"],["Bed + Breakfast"]], {}, class:"form-control form-control-lg" %>
                </div>
                <div class="form-group col-4">
                    <%= f.label :room_type, "Room Type" %> <br>
                    <%= f.select :room_type,[["Entire"],["Private"],["Shared"]], {}, class:"form-control form-control-lg"%>
                </div>
                <div class="form-group col-4">
                    <%= f.label :guest_count, "Accomodate" %> <br>
                    <%= f.select :guest_count,[["1"],["2"],["3"],["4+"]], {}, class:"form-control form-control-lg"%>
                </div>
                <div class="form-group col-4">
                    <%= f.label :bedroom_count, "Bedrooms" %> <br>
                    <%= f.select :bedroom_count,[["1"],["2"],["3"],["4+"]], {}, class:"form-control form-control-lg"%>
                </div>
                <div class="form-group col-4">
                    <%= f.label :bathroom_count, "Bathrooms" %> <br>
                    <%= f.select :bathroom_count,[["1"],["2"],["3"],["4+"]], {}, class:"form-control form-control-lg"%>
                </div>
            </div>
            <div>
                <%= f.submit "Save", class:"btn btn-dark btn-lg d-block mb-4 ml-4 px-5"%>
            </div>
        <% end %>
    </div>
</div>
</div>