<div class="row">
    <div class="col-3">
        <%= render "rooms/sidebar" %>
    </div>
    <div class="col-9">
        <div class="card bg-light ml-4">
            <h5 class="card-header">Location</h5>
            <%=form_for(@room) do |f|%>
                <div class="px-4 py-3">
                    <div class="card-body">
                        <div class="form-group">
                            <%= f.label :address, "Address" %> <br>
                            <%= f.text_field :address, placeholder:"What is your address?", class:"form-control form-control-lg",required: true %>
                        </div>
                    <div>
                        <%= f.submit "Save", class:"btn btn-dark d-block mt-4 px-5 mx-auto"%>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>