<div class="row">
    <div class="col-3">
        <%= render "rooms/sidebar" %>
    </div>
    <div class="col-9">
        <div class="card bg-light">
            <h5 class="card-header">Photos</h5>
            <%= form_for @room, url: room_photos_path(@room), method: :post, html: {multipart: true} do |f| %>
                <div class="px-2">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="btn btn-secondary btn-file w-50 my-3">
                                Select Photos
                                <%= file_field_tag "images[]", type: :file, multiple: true %>
                            </span>
                            <%# creating new button on top of default design and add scss to btn-file which is the class you made  %>
                            <%# multiple: true allow user to choose many photos at the same time %>
                        </div>
                        <div>
                            <%= f.submit "Add Photos", class:"btn btn-dark d-block my-2 px-4 mx-auto" %>
                        </div>
                    </div>
                </div>
            <% end %>

            <div id="photos"><%= render "photos/photo_list" %></div>
        </div>
    </div>
</div>